<h1>Counter: <span id='counter'></span></h1>

<%= form_with model: @play do |f| %>

  <%= f.hidden_field :timer_value, data: {"req-hash": @req_hash} %>
  <%= f.hidden_field :url %>

  <img src="" id="image" height="200" width="200">
  <br>
  <%= f.submit 'Submit' %>
<% end %>

<br>
<br>

<div id="table-data">
  <%= render partial: 'table_data', locals: { plays: @plays } %>
</div>
